body {
    background: #b07cf7;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
@font-face {
    font-family: 'Raleway heavy';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/raleway.heavy.ttf');
}
​
body, form, div, p, a, img, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
​
input,
textarea,
select,
button {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
​
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
​
a {
    text-decoration: underline;
    outline: none;
}
​
a:hover {
    text-decoration: none;
}
header {

    margin: 0 auto;
}
h1 {
    margin: 100px 0 50px 0;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: Raleway;
}
h2 {
    padding: 0 0 50px 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: Raleway;
    max-width: 570px;
    margin: 0 auto;
}
.pictures {
    display: inline-flex;
}
.image {
    display: flex;
    justify-content: space-between;
}
.hight_date img {
    width: 100%;
    max-width: 350px;
    margin: 0 15px;
}
.hight_date {
    position: relative;
}
.hight_date h4 {
    border-radius: 5px;
    padding: 5px 7px;
    position: absolute;
    top: 30px;
    left: 35px;
    color: #fff;
    background: #4d535d;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

h4:hover {
    background: #b07cf7;
    transform: skew(-20deg, 20deg);
    box-shadow: 0 0 10px rgba(0, 255, 243, 0.72);
}

span .white_text {
    opacity: 1;
}
p {
    color: #fff;
    position: absolute;
    bottom: 55px;
    left: 15px;
    text-align: left;
    padding: 0 20px;
    font-weight: bold;
}
span {
    position: absolute;
    bottom: 25px;
    left: 15px;
    text-align: left;
    padding: 0 20px;
    color: #fff;
    font-size: 12px;
    opacity: 0.6;

}

button.view {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 170px;
    text-transform: uppercase;
    padding: 10px;
    background: #f72b3b;
    color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
}